.last-section {
   width: 100%;
   height: 600px;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   background-color: var(--color-footer);
}
.last-section h2 {
   font-size: 4rem;
   margin: 1.5rem;
   background: var(--gradient-text);
   background-clip: text;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   text-align: center;
   margin: 4rem 0;
}

.last-section button {
   font-size: 18px;
   outline: none;
   width: 195px;
   height: 70px;
   cursor: pointer;
   font-family: var(--font-family);
   background-color: transparent;
   color: white;
   border: 1px solid white;
   transition: 0.5s;
   margin: 4rem 0;
}
.last-section button:hover {
   background-color: white;
   color: var(--color-footer);
}

@media screen and (max-width: 520px) {
   .last-section {
      height: auto;
   }
   .last-section h2 {
      font-size: 3rem;
   }
   .last-section button {
      width: 180px;
      font-size: 16px;
   }
}
@media screen and (max-width: 345px) {
   .last-section h2 {
      font-size: 2.5rem;
   }
}
